/*------------basic styling-----------*/
html,body {
    margin: 0px;
    padding: 0px;
   
    font-family: "Roboto", sans-serif !important;
    background: #fff !important;

    color: #888888;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 20px;
    position: relative;
}

nav #brand {
    float: left;
    display: block;

}

nav #menu {
   float: left;
   display: inline-block;
   margin-top: 50px;
   margin-left: -25px ;
}

nav #menu li {
    text-transform: uppercase;
    padding-right: 38px;
    display: inline-block;
    cursor: pointer;
    
    
    position: relative;
    transition: all 0.3s ease-out;
    
}

nav #menu a {
    color: #263a41;
    font-weight: bold;
    font-size: 0.9rem;
}

nav #menu a:hover {
    color: #ff817e;
    text-decoration: none;
}



#resize , #toggle {
    visibility: hidden;
}

.banner img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 43.5%;
}

/* banner here */

.content {

}

.content span{
    color:#ff817e;
    letter-spacing: 2px;
    font-family: "Rufina", sans-serif;
}

.content h2 {
    padding-top: 20px;
    font-size: 3.4rem;
    font-family: "Rufina", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.content p {
    padding-top: 30px;
    color: #888888;
    font-weight: lighter;
    padding-bottom: 40px;
}


.content .btn {
    display: inline-block;
    background-color: #ff817e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding:  10px 20px 10px 20px;
    border-radius: 0px;
    text-align: center  ;
}

.content a {
    padding-left:20px;
    color: #888888;
}

.content a i {
    position: absolute;
    font-size: 3rem;
    color: #ff817e;
   
}

.content .cont {
    padding-left: 70px;
}

.content .cont:hover {
    text-decoration: none;
    color: #ff817e;
}


/*     about section      */


.about .butterfly-img {
    padding-top: 100px;
    padding-bottom:30px ;
}

.about span {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #888888;
}

.about h2 {
    padding-top: 20px;
    font-family: "Rufina", sans-serif;
    font-weight: bold;
    font-size: 2.6rem;
}

.about p {
    
    padding-top: 10px;
    color: #888888;
    font-weight: normal;
    font-size: 0.9rem;
    text-align: center;
}

.about .btn-around {
    margin-top: 50px;
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #ff817e;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding:  10px 20px 10px 20px;
    border-radius: 30px;
    text-align: center  ;
    
}

.flo1 {
    position: absolute;
    top: 95%;
    left: 15%;
}

.flo2 {
    position: absolute;
    top: 120% ;
    right: 10%;
}

/*      Service section        */

.service {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
}

.service img {   
    display: block;   
    width: 375px;
    height: auto;
    
}

.service .img-service{
    position: relative;
}

.service .hover{
    position: absolute;
    background: #ff817e;
    top: 0%;
    left: 0%;
    width: 375px;
    height: 100%;
    opacity: 0;
    transition: .2s ease-in-out
}

.service .hover img {
    width: 50px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.service .hover span {
    color:#fff;
    font-family: "Rufina", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
 
}
.service .img-service:hover .hover {
 opacity: 0.8;
}

/*      Section proocedures */

.procedure {
    margin-top: 100px;
    margin-bottom: 50px;
}

.procedure h2 {
    font-family: "Rufina",sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
}

.procedure p{
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: "Rufina",sans-serif;
    color: #888888;
}

.procedure h5 {
    margin-top: 20px;
    font-family: "Rufina", sans-serif;
    font-weight: bold;
}

.procedure .news {
    padding: 20px;
    border: 1px solid #eee;
}

.procedure img {
    width: 310px;
    height: auto;
    display: block;
}

.procedure .btn {
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #30383b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; 
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    
}

.procedure .btn:hover {
    text-decoration: none;
    background-color: #ff817e;
    color: #fff;
}

/*      slide section       */
.slidesec {
    background-color: #fff9f8;
    height: 70vh;
}

.slidesec .symbol {
    margin: 50px;
}

.slidesec p {
    font-family: "Rufina", sans-serif;
    font-weight: regular;
    color: #888888;
    line-height: 2rem;
}

.slidesec .client {
    border-radius: 50%;
    margin: 30px;
}

.slidesec .name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #000000;
}

.slidesec span {
    color: #888888;
    font-size: 1rem;
    font-weight: normal;
}

/*      section team        */

.team {
    margin-top: 50px;
}

.team h2 {
    font-family: "rufina",sans-serif;
    font-weight: 600;
    font-size: 2.6rem;
}

.team p {
    margin-top: 30px;
    margin-bottom: 70px;
    font-weight: 100;
    font-size: 0.9rem;
    color: #888888;
}
.team .infor {
    position: absolute;
    top: 333px;
    left: 43px;
    background-color: #fff;
    height: 140px;
    width: 300px;
    transform: 2s ease;
    box-shadow: 0 5px 5px 5px #eee;
  
}

.team img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 100px;
}

.team h5, span {
    text-align: center;
    padding-top: 30px ;
}

.team h5 {
    font-family: "Rufina", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.team span {
    color: #888888;
    font-weight: lighter;
}

.team i{
    font-size: 2rem;
    visibility: hidden;
    margin-top: 7px;
    padding: 3px;
    border-radius: 50%;
}


.team .infor:hover {
    height: 200px;
    top: 273px;
}

.team .infor:hover i{
    visibility: visible;
}



.team i:hover {
    color: #ff817e;
}

/*      section contact         */

.contact {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    
    
}

.contact img{
    display: block;
    width: 40vw;
    height: auto;
    object-fit: cover;
}
.contact .inp {
    display: grid;
    grid-template-columns:  repeat(2, 320px);
    background-color: #fff9f8;  
    width: 58.9vw;
    height: 100%;
    padding-left: 100px;
    padding-top: 50px;
    
}

.contact input, .contact textarea{

    border: none;
    border-bottom: 1px solid #888888;
    width: 300px;
    height: 50px;
    background-color: #fff9f8;
    text-transform: uppercase;
    font-size: 0.8rem;

}

.contact .btn {
    width: 220px;
    height: 60px;
    background-color: #ff817e;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    
}

.contact textarea {
    width: 620px;
   
}


/*secion blog*/

.blog h2 {
    font-family: "Rufina", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
}

.blog p{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #888888;
    font-size: 0.9rem;
}

.blog .news {
    padding: 20px;
    border: 1px solid #eee;
}

.blog img {
    width: 310px;
    height: auto;
    display: block;
}

.blog p{
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: "Rufina",sans-serif;
    color: #888888;
}

.blog h5 {
    margin-top: 20px;
    font-family: "Rufina", sans-serif;
    font-weight: bold;
}


.blog .btn {
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #30383b;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; 
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    
}

.blog .btn:hover {
    text-decoration: none;
    background-color: #ff817e;
    color: #fff;
}

/*      section get in  touch       */

.touch  {
    margin-top: 100px;
    margin-bottom: 100px;
}

.touch h2 {
    font-family: "Rufina", sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
}

.touch p {
    margin-top: 40px;
    margin-bottom: 70px;
    font-family: "Rufina",sans-serif;
    color: #888888;
    text-align: center;
}

.touch form {
    display: flex;
    flex-direction: column;
}

.touch input,.touch textarea {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
}

.touch input :first-child {
    margin-top: 0px;
}

.touch .btn {
    margin-top: 30px;
    width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #ff817e;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; 
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
}

.touch a {
    text-align: right;
    color: #888888;
}

.touch i {
    color: #ff817e;
    font-size: 2.4rem;
    float: left;
    margin-right: 20px ;
}

/*      footer      */

footer {
    background-color: #fff9f8;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer img {
    width: 50px;
    height: auto;
}

footer h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Rufina", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
}

footer ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-around;
    
}



footer p {
    padding-top: 50px ;
    display: flex;  
    justify-content: center;
    color: #888888;
    font-size: 0.9rem;
}

footer a {
    padding-left: 3px;
    padding-right: 3px;
    text-transform: uppercase;
    color: #263a41;
    font-weight: bold;
}

footer .icon {
    display: flex;
    justify-content: center;
    
}

footer i {
    padding: 5px;
    font-size: 1.5rem;
    margin-top: 10px;
}

footer a:hover{
    text-decoration: none;
    color: #ff817e;
}

footer .link {
    color: #ff817e;
}

footer .infor:hover{
    color: #ff817e;
}

/*reponsive*/

@media(max-width:768px)
{
   .spa{
        visibility: hidden;
    }
    #menu {
        visibility: hidden;
    }
   #resize {
       visibility: visible;

   }
   .close-btn {
    width: 30px;
    height: 3px;
    background-color: #ff817e;
    margin: 6px 0px;
    margin-left: 90%;
    
   }

   .service {
       display: flex;
       flex-direction: column;
   }

   .service img {
       width: 100%;
   }

   .service .hover {
       width: 100%;
   }

   .procedure img {
       width: 100%;
   }

   .procedure .btn {
       width: 170px;
       height: 50px;
   }

   .team .infor {
       width: 100%;
       left: 0;
       top: 70%;
   }

   .team .infor:hover {
       top: 60%;

   }

   .contact img {
       width: 0;
   }

   .contact .inp {
       width: 500px;
       height: auto;
       padding: 0;
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       
   }

   .contact input, .contact textarea {
       width: 400px;
       margin: 20px;
       margin-left: 30px;
   }
    
   .contact .btn {
       width: 200px;
       height: 60px;
       font-size: 0.8rem;
       margin-left: 30px;
       margin-top: 30px;
       margin-bottom: 30px;
   }

   .blog img {
       width: 100%;
   }

   .blog .btn {
       width: 175px;
       height: 50px;
       margin-top: -50px;
   }

   .touch address {
       padding-bottom: 20px;
   }

   
}

