.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.jc-center {
    justify-content: center;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.jc-evenly {
    justify-content: space-evenly;
}