$spacer: 8px;

//base color
$light-base-color-black: #000000;
$light-base-color-white: #ffffff;

// text color
$light-text-color-title: #000000;
$light-text-color-body-1: #92929d;
$light-text-color-body-2: #9a9ab0;

// text link
$light-text-link-color-purple: #5541d7;
$light-text-link-color-white: #ffffff;

// primary color
$light-primary-color-85: #181485;
$light-primary-color-70: #2a23c2;
$light-primary-color-50: #5541d7;
$light-primary-color-30: #766eda;
$light-primary-color-10: #dbd7f4;

// secondary color
$light-secondary-color-85: #0b528e;
$light-secondary-color-70: #117bd4;
$light-secondary-color-50: #2d96ee;
$light-secondary-color-30: #55aaf1;
$light-secondary-color-10: #d0e7fb;

// Accent 1 color
$light-accent-1-color-85: #287161;
$light-accent-1-color-70: #3caa91;
$light-accent-1-color-50: #42bda1;
$light-accent-1-color-30: #77cfbb;
$light-accent-1-color-10: #d9f2ec;

// Accent 2 color
$light-accent-2-color-85: #915108;
$light-accent-2-color-70: #d9790c;
$light-accent-2-color-50: #f2870d;
$light-accent-2-color-30: #f5a851;
$light-accent-2-color-10: #fce7cf;

// other color
$light-warning-color: #eeaf22;
$light-error-color: #f04461;
$light-success-color: #41DA7E;
$light-info-color: #f1f1f6;

// system background
$light-primary-system-color: #ffffff;
$light-secondary-system-color: #f7f7fc;

// separators color
$light-primary-separator-color: #e1e1fb;
$light-secondaty-separator-color: #e1e1e1;

// fills color
$light-button-fill-color: #ffffff;
$light-image-placeholder-color: #e2e2ea;
$light-progress-color: #e2e2ea;
$light-text-field-1-color: #ffffff;
$light-age-text-field-2-color: #f6f6f7;
$light-icon-color: #9a9ab0;
$light-disable-color: #e0e0e0;

//background color
$light-background-color-gray: #e5e5e5;
