$spacer: 8px;

//base color
$light-base-color-black: #000000;
$light-base-color-white: #ffffff;

// text color
$light-text-color-title: #000000;
$light-text-color-body-1 : #92929D ;
$light-text-color-body-2 : #9A9AB0 ;

// text link
$light-text-link-color-purple: #5541D7;
$light-text-link-color-white: #ffffff;

// primary color 
$light-primary-color-85 : #181485;
$light-primary-color-70 : #2A23C2;
$light-primary-color-50 : #5541D7;
$light-primary-color-30 : #766EDA;
$light-primary-color-10 : #DBD7F4;

// secondary color
$light-secondary-color-85 : #0B528E;
$light-secondary-color-70 : #117BD4;
$light-secondary-color-50 : #2D96EE;
$light-secondary-color-30 : #55AAF1;
$light-secondary-color-10 : #D0E7FB;

// Accent 1 color
$light-accent-1-color-85 : #287161;
$light-accent-1-color-70 : #3CAA91;
$light-accent-1-color-50 : #42BDA1;
$light-accent-1-color-30 : #77CFBB;
$light-accent-1-color-10 : #D9F2EC;

// Accent 2 color
$light-accent-2-color-85 : #915108;
$light-accent-2-color-70 : #D9790C;
$light-accent-2-color-50 : #F2870D;
$light-accent-2-color-30 : #F5A851;
$light-accent-2-color-10 : #FCE7CF;

// other color
$light-warning-color : #EEAF22;
$light-error-color : #F04461;
$light-success-color : #F04461;
$light-info-color : #F1F1F6;

// system background
$light-primary-system-color: #ffffff ;
$light-secondary-system-color: #F7F7FC;

// separators color
$light-primary-separator-color : #E1E1FB ;
$light-secondaty-separator-color: #E1E1E1 ;

// fills color
$light-button-fill-color: #ffffff ;
$light-image-placeholder-color: #E2E2EA;
$light-progress-color: #E2E2EA;
$light-text-field-1-color: #ffffff;
$light-age-text-field-2-color: #F6F6F7;
$light-icon-color: #9A9AB0;
$light-disable-color: #E0E0E0;