@import '../../assets/style//variable' ;

.homepage {
    &__title {
        span {
            color: $light-text-link-color-purple;
        }
    }
    .right-view {
       img {
        top:0px;
        right:0;
       }
       #img-2 {
           top:320px;
           right: 300px;
       }
    }
    #section-2 {
        position: relative;
        #title {
            color: $light-text-link-color-purple;
        }
        .active {
            color: $light-text-link-color-purple;
        }
        .subcontent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .right {
            img {
                width: 600px;
                height: auto;
                position: absolute;
                right: -48px;
                top: 80px;
            }
        }
    }
}