@import '../../assets/style/variable' ;

.sign-up {
    height: 100vh;
    &--left {
        height: 100%;
        width: 600px;
        background: $light-secondary-system-color;
        .headline {
            color: $light-text-color-body-1;
            text-transform: uppercase;
        }
    }
    &--right {
        width: calc(100vw - 600px);
        padding-top: 171px;
        padding-left: 128px;
        padding-right: 96px;
        .social-sign-up {
            .button {
                width: 100%;
            }
        }
        .or {
            .divider {
                background-color: $light-secondaty-separator-color;
                height: 1px;
            }
            span {
                color: $light-text-color-body-1;
            }
        }
        .password {
            .input {
                width: 100%;
            }
        }
    }
    &--title {
        padding-top: 104px;
        padding-left: 87px;
    }
    
}