@import '../../assets/style/variable' ;

.header {
    height: 48px;
    margin-top: 48px;
    .link {
        color: black ;
        &:hover {
            color: $light-text-link-color-purple;
        }
    }
}