@import "../../assets/style/variable";

.Footer {
      padding-top: 150px;
      padding-bottom: 50px;
      width: 1060px;
      margin: auto;
      > .Info {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 30px;
            margin-bottom: 40px;
            > .Spana {
                  grid-column: 1/3;
                  > .Title {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                  }
                  > p {
                        font-size: 13px;
                        color: #5e6282;
                  }
            }

            > .Company,
            .Contact,
            .More {
                  > p:first-child {
                        font-size: 21px;
                        font-weight: bold;
                        margin-bottom: 20px;
                  }
                  > p:not(:first-child) {
                        font-size: 18px;
                        color: #5e6282;
                        margin-bottom: 10px;
                  }
            }

            > .Social {
                  grid-column: 6/8;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  justify-content: start;
                  gap: 20px;
                  > .Media {
                        display: flex;
                  }
                  > p {
                        font-size: 20px;
                        color: #5e6282;
                  }
                  > .AppMobile {
                        display: flex;
                        gap: 20px;
                  }
            }
      }
      >p {
            text-align: center;
      }
}
