.SkeletonLoading {
     
     
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;
      align-items: center;
      > .Top {
            display: flex;
            gap: 20px;
            > .Logo {
                  width: 60px;
                  height: 60px;
                  border-radius: 5px;
                  background-color: #dddddd;
                  position: relative;
                  overflow: hidden;
                  &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                        animation: skeletonLoading 2s infinite alternate;
                  }
            }
            > .Lines {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 7px;

                  > .Line1 {
                        width: 120px;
                        height: 20px;
                        background-color: #dddddd;
                        border-radius: 3px;
                        position: relative;
                        overflow: hidden;
                        &::after {
                              content: "";
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              top: 0;
                              right: 0;
                              left: 0;
                              bottom: 0;
                              background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                              animation: skeletonLoading 2s infinite alternate;
                        }
                  }
                  > .Line2 {
                        width: 140px;
                        height: 20px;
                        background-color: #dddddd;
                        border-radius: 3px;
                        position: relative;
                        overflow: hidden;
                        &::after {
                              content: "";
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              top: 0;
                              right: 0;
                              left: 0;
                              bottom: 0;
                              background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                              animation: skeletonLoading 2s infinite alternate;
                        }
                  }
            }
      }
      > .Bot {
            display: flex;
            gap: 20px;
            > .Logo {
                  width: 75px;
                  height: 75px;
                  border-radius: 5px;
                  background-color: #dddddd;
                  position: relative;
                  overflow: hidden;
                  &::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                        animation: skeletonLoading 2s infinite alternate;
                  }
            }
            > .Lines {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  gap: 7px;

                  > .Line1 {
                        width: 160px;
                        height: 20px;
                        background-color: #dddddd;
                        border-radius: 3px;
                        position: relative;
                        overflow: hidden;
                        &::after {
                              content: "";
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              top: 0;
                              right: 0;
                              left: 0;
                              bottom: 0;
                              background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                              animation: skeletonLoading 2s infinite alternate;
                        }
                  }
                  > .Line2 {
                        width: 180px;
                        height: 20px;
                        background-color: #dddddd;
                        border-radius: 3px;
                        overflow: hidden;
                        position: relative;
                        &::after {
                              content: "";
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              top: 0;
                              right: 0;
                              left: 0;
                              bottom: 0;
                              background: linear-gradient(to right, #dddddd, #ffffff 50%, #dddddd);
                              animation: skeletonLoading 2s infinite alternate;
                        }
                  }
            }
      }
}

@keyframes skeletonLoading {
      from {
            left: -50%;
      }
      to {
            left: 50%;
      }
}
